{{brojAranzmanaTest}} <br><br>
{{nePostojiAranzmanTest}} <br><br>
<div>{{dodaAranzmanTest}} <br>
{{dodaAranzmanTestNaziv}}<br>
{{dodaAranzmanTestCena}}<br>
{{dodaAranzmanTestDatumPolaska}}<br>
{{dodaAranzmanTestDatumPovratka}}<br>
</div>
<br>
{{azurirajTest}} <br>
{{azurirajNaziv1}} <br>
{{azurirajDatumPolaska1}} <br>
{{azurirajDatumPovratka1}} <br>
<br>
{{testBrisanjaAranzmana}} <br>
<br>
{{nePostojiKorisnik}}
<br><br>
{{PostojiKorisnik}}
<br><br>
{{novKorisnik}}
<br><br>
{{novKorisnikKOjiVecPostoji}}
<br><br>
{{pretragaLokacijePostoji}}
<br><br>
{{pretragaLokacijeNePostoji}}
<br><br>
{{dodataRezervacija}}