<body>
    <mat-toolbar color = "primary">
        <span >
            Turisticka agencija
        </span>
        <div class="spacer"></div>
        <div class="buttonsPosition" *ngIf="ulogovanKorisnik">
            <label >{{ulogovanKorisnik.korisnickoIme}} : {{ulogovanKorisnik.privilegija}} </label>
        </div>
        <button mat-icon-button (click)="pretraga()">
            <mat-icon>home</mat-icon>
        </button>
        <div class="buttonsPosition" *ngIf="ulogovanKorisnik">
            <button mat-button  (click)="odjava()">Odjavi se </button> 
        </div>
    </mat-toolbar>

    <mat-toolbar color="primary" *ngIf="ulogovanKorisnik">
        <div class="buttonTabsPosition">
            <button mat-raised-button color="primary" (click)="rezervacije()">Rezervacije</button>
        </div>
        <div class="buttonTabsPosition">
            <button mat-raised-button color="primary" (click)="dodajAranzman()">Dodaj aranzman</button>
        </div>
        <div class="buttonTabsPosition" *ngIf="this.ulogovanKorisnik.privilegija == 'admin'" > 
            <button mat-raised-button color="primary"  (click)="registrovanje()">Dodaj zaposlenog</button>
        </div>
    </mat-toolbar>



        
    <div *ngFor="let rezervacija of sveRezervacije" class="prikazPretrage"  >
        <div class="rowDiv">
            <div>
                <div class="divInList">
                    <mat-label>Naziv aranzmana: </mat-label>
                    <mat-label>{{rezervacija.nazivAranzmana}}</mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Kupac: </mat-label>
                    <mat-label>{{rezervacija.ime}} {{rezervacija.prezime}}</mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Telefon: </mat-label>
                    <mat-label>{{rezervacija.telefon}}</mat-label>
                </div>
            </div>
            <div>
                <div class="divInList">
                    <mat-label>Email: </mat-label>
                    <mat-label>{{rezervacija.email}}</mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Ncin placanja: </mat-label>
                    <mat-label>{{rezervacija.nacinPlacanja}} €</mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Komentar </mat-label>
                    <mat-label>{{rezervacija.komentar}}</mat-label>
                </div>  
            </div>
            <div>
                <div class="divInList">
                    <mat-label>Broj odraslih: </mat-label>
                    <mat-label>{{rezervacija.brojOdraslih}}</mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Broj dece: </mat-label>
                    <mat-label>{{rezervacija.brojDece}} </mat-label>
                </div>
                <div class="divInList">
                    <mat-label>Status </mat-label>
                    <mat-label>{{rezervacija.status}}</mat-label>
                </div>  
            </div>
            <div>
                <button mat-button background-color="green" (click)="prihvati(rezervacija.id)">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-button background-color="red"  (click)="odbi(rezervacija.id)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
        

</body>
