<body >
    <mat-toolbar color = "primary">
        <span >
            Turisticka agencija
        </span>
        <div class="spacer"></div>
        <div class="buttonsPosition" *ngIf="ulogovanKorisnik">
            <label >{{ulogovanKorisnik.korisnickoIme}} : {{ulogovanKorisnik.privilegija}} </label>
        </div>
        <button mat-icon-button >
            <mat-icon>home</mat-icon>
        </button>
        <div class="buttonsPosition" *ngIf="ulogovanKorisnik">
            <button mat-button  (click)="odjava()">Odjavi se </button> 
        </div>
        <div class="buttonsPosition" *ngIf="!ulogovanKorisnik"  >
            <button mat-button (click)="prijava()" >  Prijavi se</button>
        </div>
    </mat-toolbar>

    <mat-toolbar color="primary" *ngIf="ulogovanKorisnik">
        <div class="buttonTabsPosition">
            <button mat-raised-button color="primary" (click)="rezervacije()">Rezervacije</button>
        </div>
        <div class="buttonTabsPosition">
            <button mat-raised-button color="primary" (click)="dodajAranzman()">Dodaj aranzman</button>
        </div>
        <div class="buttonTabsPosition" *ngIf="this.ulogovanKorisnik.privilegija == 'admin'" > 
            <button mat-raised-button color="primary"  (click)="registrovanje()">Dodaj zaposlenog</button>
        </div>
    </mat-toolbar>
    
    <div class="centerItem">
    <div class="pretragaBar">
        <mat-form-field >
            <mat-label>Naziv Aranzmana </mat-label>
            <input name="naziv" type="text" matInput placeholder="Unesite naziv aranzmana" 
            [(ngModel)]="naziv">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Lokacija</mat-label>
            <input name="lokacija" type="text" matInput placeholder="Unesite lokaciju" 
            [(ngModel)]="lokacija">
        </mat-form-field>
        <mat-form-field>
            <mat-label >Kontinent</mat-label>
            <input name="kontinent" type="text" matInput placeholder="Unesite kontinent" 
            [(ngModel)]="kontinent">
        </mat-form-field>
        <mat-form-field>
            <mat-label >Drzava</mat-label>
            <input name="drzava" type="text" matInput placeholder="Unesite drzavu" 
            [(ngModel)]="drzava">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prevozi</mat-label>
            <mat-select [(value)]="prevoz">
                <mat-option value="">None</mat-option>
                <mat-option value="Autobus">Autobus</mat-option>
                <mat-option value="Avion">Avion</mat-option>
                <mat-option value="Krstarenje">Krstarenje</mat-option>
                <mat-option value="Voz">Voz</mat-option>
                <mat-option value="Samostalni Prevoz">Samostalni Prevoz</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    

    <div  class="pretragaBar">
        <mat-form-field>
            <mat-label>Datum polaska</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="datumPolaska">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Datum povratka</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="datumPovratka">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="buttonTabsPosition">
            <button mat-raised-button color="primary" (click)="pretraga()" >Pretrazi</button>
        </div><div class="buttonTabsPosition">
            <button mat-raised-button color="primary">Ukloni filtere</button>
        </div>
        
    </div>

    
    

    <div *ngIf="!filtriraniAranzmani">
        <button mat-stroked-button color="primary">Inicijalizacije podataka u toku. Molimo sacekajte. Hvala</button>
        <button mat-raised-button color="primary"  (click)="osvezi()">Osvezi</button>
    </div>

    <div *ngIf="filtriraniAranzmani">
        <div *ngFor="let aranzman of filtriraniAranzmani" class="prikazPretrage"  >
            <div class="rowDiv">
                
                <div class="centerItem"  (click)="stranicaAranzmana(aranzman)" >
                    <img  height="100" src="{{aranzman.slika}}" >
                    Klik za detalje
                </div>
                <div>
                    <div class="divInList">
                        <mat-label>Naziv ponude: </mat-label>
                        <mat-label>{{aranzman.naziv}}</mat-label>
                    </div>
                    <div class="divInList">
                        <mat-label>Destinacija: </mat-label>
                        <div *ngFor="let lokacija of aranzman.lokacije">
                            <mat-label>{{sveLokacije[lokacija].naziv}} </mat-label>
                        </div>
                    </div>
                    <div class="divInList">
                        <mat-label>Datum pocetka: </mat-label>
                        <mat-label>{{aranzman.datumPolaska|  date:'MM/dd/yyyy' }}</mat-label>
                    </div>  
                </div>
                <div>
                    <div class="divInList">
                        <mat-label>Trajanje (u danima): </mat-label>
                        <mat-label>{{aranzman.trajanje}}</mat-label>
                    </div>
                    <div class="divInList">
                        <mat-label>Cena: </mat-label>
                        <mat-label>{{aranzman.cena}} €</mat-label>
                    </div>
                    <div class="divInList">
                        <mat-label>Tip prevoza: </mat-label>
                        <mat-label>{{aranzman.prevoz}}</mat-label>
                    </div>  
                </div>
            </div>
        </div>
   </div>


    <div class="centerItem" *ngIf="filtriraniAranzmani">
        <div class="pretragaBar">
            Broj aranzmana po stranici:       
            <mat-form-field  >
                <mat-select [(value)]="selected">
                    <mat-option value=25  (click)="promeniPrikaz(25)">25</mat-option>
                    <mat-option value=50  (click)="promeniPrikaz(50)">50</mat-option>
                    <mat-option value=100 (click)="promeniPrikaz(100)">100</mat-option>
                    <mat-option value=200 (click)="promeniPrikaz(200)">200</mat-option>
                </mat-select>
            </mat-form-field>

            Stranica {{stranica}} od {{brojStranica}} promeni broj stanica kad se azurira pretraga
            <mat-icon (click)="prethodnaStranica()">keyboard_arrow_left</mat-icon>
            <mat-icon (click)="sledecaStranica()">keyboard_arrow_right</mat-icon>
            
        </div>
    </div>
    
</div>
</body>